/* Styles propres au projet Culture & Co (le reste est dans base.css et projet.css) */

.site {
  margin: 2rem 0 1rem;
  width: 14.5rem;
}

.projet {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 30rem;
  border: solid 2px var(--black);
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  transition: 0.3s;
  background-color: transparent;
  text-transform: uppercase;
  font-stretch: semi-expanded;
  font-weight: 600;
}

.projet:hover {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
  font-weight: 700;
}
