* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Archivo";
}

:root {
  --black: rgb(0, 0, 0);
  --grey: rgb(15, 15, 15);
  --white: #dfdfdf;
  --red: red;
}

body {
  background-color: var(--white);
  color: var(--black);
  position: relative;
  min-height: 100vh;
}

/*BACK----------------------------------------*/

.background-text {
  top: 2rem;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  background-image: url(../img/logo_fond.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.backTitle {
  font-size: 13.8rem;
  font-weight: 1000;
  font-stretch: ultra-expanded;
  margin-top: 10vw;
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
  text-transform: uppercase;
  font-style: italic;
}

/*BACK----------------------------------------*/

section {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

/*NAVIGATION----------------------------------*/

h1 {
  text-align: right;
  font-weight: 650;
  font-size: 4rem;
  font-stretch: semi-expanded;
  font-style: oblique;
  margin: 0;
  padding: 1rem;
  text-transform: none;
  /*text-shadow: 0px 0px 3px rgb(116, 116, 116);*/
}

nav {
  width: 50vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* ← au lieu de space-between */
  padding-bottom: 7.5rem;
  text-transform: uppercase;
}

.boutonNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boutonNav a {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  width: fit-content;
  padding: 0 0.4rem 0.5rem 0.4rem;
  transition: all 0.4s ease;
  background-color: transparent;
  position: relative;
  font-weight: 600;
  font-stretch: semi-expanded;
}

.boutonNav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.4s ease;
}

.boutonNav a:hover {
  font-size: 1.6rem;
  transform: translateX(10px);
}

.boutonNav a:hover::after {
  width: 100%;
}

/*NAVIGATION----------------------------------*/

/*COUVERTURE + CV-----------------------------*/

.couverture {
  background-color: transparent;
  background-image: url(../img/effet_flou.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center top;
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.cv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  width: fit-content;
  border: solid 2px var(--black);
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  transition: 0.3s;
  background-color: transparent;
  text-transform: uppercase;
  font-stretch: semi-expanded;
  font-weight: 600;
}

.cv svg {
  width: 20px;
  height: 20px;
  fill: var(--black);
  transition: 0.3s;
}

.cv:hover {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
  font-weight: 700;
}

.cv:hover svg {
  fill: var(--white);
}

/*COUVERTURE + CV-----------------------------*/